{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bird Pix2Pix</title>
</head>
<body>
  <h1>Bird Pix2Pix</h1>
  <h2>鳥の輪郭を書いたあと、塗りつぶしをしてください</h2>
  <canvas
    id="draw-area"
    width="400px"
    height="400px"
    style="border: 1px solid #000000;"></canvas>
    <canvas
    id="show-area"
    width="400px"
    height="400px"
    style="border: 1px solid #000000;"></canvas>
  <div>
    <button id="clear-button">全消し</button>
  </div>
  <div>
    <button id="convert-button">実行</button>
  </div>
  <script src="{% static 'pix2pix/main.js' %}"></script>
</body>
</html>